@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: none;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

/* Apply a basic font family and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Style the control-panel container */
#control-panel.ui {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 270px; /* Adjust the total width as needed */
}
/* Style the buttons */
button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#animateButton:hover,
#objectAnimationBtn:hover {
  background-color: #2980b9;
  cursor: pointer;
}
/* Add some spacing between elements */
.ui > * + * {
  margin-top: 8px;
}
#balloonsAcount {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
